
    <!--Modal: Contact form-->
    <div class="modal-dialog cascading-modal" role="document">

        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header  white-text" style="background-color:#B1181A;">
                <h4 class="title">
                    <i class="fa fa-pencil"></i>Dejanos Conocerte</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">

                </button>
            </div>
            <!--Body-->
            <div class="modal-body">

                <!-- Material input name -->
                <div class="md-form form-sm">
                    <i class="fa fa-envelope prefix"></i>
                    <input type="text" id="materialFormNameModalEx1" class="form-control form-control-sm">
                    <label for="materialFormNameModalEx1">Correo Electronico</label>
                </div>

                <div class="md-form form-sm">
                    <i class="fa fa-user-o prefix" ></i>
                    <input type="text" id="materialFormNameModalEx1" class="form-control form-control-sm">
                    <label for="materialFormNameModalEx1">Nombretito Completo</label>
                </div>



                <!-- Material input email -->
                <div class="md-form form-sm">
                    <i class="fa fa-lock prefix"></i>
                    <input type="password" id="materialFormEmailModalEx1" class="form-control form-control-sm">
                    <label for="materialFormEmailModalEx1">Contraseña</label>
                </div>

                 <!-- Material input email -->
                 <div class="md-form form-sm">
                    <i class="fa fa-lock prefix"></i>
                    <input type="password" id="materialFormEmailModalEx1" class="form-control form-control-sm">
                    <label for="materialFormEmailModalEx1"> ConfirmarContraseña</label>
                </div>

                <div class="text-center mt-4 mb-2">
                    <button class="btn primary-color"  style="background-color:#B1181A;">Registrate
                        <i class="fa fa-send ml-2"></i>
                    </button>
                </div>

            </div>
        </div>
        <!--/.Content-->
    </div>
    <!--/Modal: Contact form-->

